body {
    background-color: rgb(19, 19, 19);
  }

  #movieTitel {
    font-size: 200%;
    font-weight: 300;
    color: #b30b0b;
    text-shadow: 2px 1px 1px black;
    font-family: sans-serif;
    animation: blinkAndChangeColors 2s infinite;
}

@keyframes blinkAndChangeColors {
    0%, 100% {
        opacity: 1;
        transform: translateX(0) scale(1);
        color: #b30b0b; 
    }
    20% {
        color: #da4b4b;
    }
    40% {
        color: #621d1d;
        text-shadow: 2px 2px 1px rgb(255, 255, 255);
    }
    60% {
      color: #e76666; 
  }
    80% {
        color: #a91616;
    }
}


  .favoritTitel{
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
    color: rgb(233, 236, 239);

  }
  .btnDiv{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .resetButton {
    width: 15%;
    height: 20%;
    font-size: 100%;
    font-weight: bolder;
    border: none;
    outline: none;
    color: #dcd3d3;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    animation: glowing 20s linear infinite;
  
  }
  
  .resetButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #de1010, #8c2a2a, #6b2828, #521919, #8c4949, #b17373, #f23131, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .resetButton:active {
    color: #000000
  }
  
  .resetButton:active:after {
    background: transparent;
  }
  
  .resetButton:hover:before {
    opacity: 1;
  }
  
  .resetButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #380707;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  } 


  
  .movie-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
  }
  
  .movie-card {
    color: rgb(201, 196, 196);
    width: 15%;
    margin: 0 1%;
    box-shadow: 0 4px 20px rgba(255, 251, 251, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    opacity: 0;
    animation: fadeIn 0.1s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .movie-card-container {
      flex-direction: row;
    }
  
    .movie-card {
      width: 20%; /* שלושה כרטיבים בשורה */
      margin: 2% 1%;
    }

    .resetButton {
      width: 30%;
      font-size: 100%;
      font-weight: bolder;
  
  
    
    }

    
  }
  
  @media (max-width: 576px) {
    .movie-card-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 35px; /* הרווח בין כרטיבים */
    }
  
    .movie-card {
      width: 70%;
      margin: 0;
    }
  
    .resetButton {
      width: 50%;
      font-size: 100%;
      font-weight: bolder;
  
  
    
    }

    .favoritTitel{
      font-size: 150%;

    }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .movieTitle {
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  

  .movie-card div {
    text-align: center;
    display: flex;
    
  }
  
  .movie-card p {
    text-align: center;
    margin-bottom: 0;
  
  }
  
  .movie-card h1 {
    text-align: center;
    margin: 5px 0;
    font-size: 16px;
  }
  .movie-card .heart-icon {
    font-size: 20px;
    margin-left: 5px;
  }
  
  .movie-card .heart-icon:hover {
    cursor: pointer;
    color: #ff0000;
  }
