body {
    background-color: rgb(19, 19, 19);
  }

  #movieTitel{
    font-size: 200%;
    font-weight: 300;
    color: #b30b0b;
    text-shadow: 2px 1px 1px black;
    font-family:sans-serif;
    animation:blinkAndMove 3s infinite;
  }

  @keyframes blinkAndMove {
    0% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
    50% {
      opacity: 0;
      transform: translateX(10px) scale(0.8);
    }
    100% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

  .pageClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

  .searchInputAndBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 5rem;
  }
  #searchMoviesByName {
    text-align: center;
    border: 2px solid #840303; 
    background-color: #851616;
    color: #ffffff;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 24px; 
    transition: border-color 1s ease-in-out;
    animation: colorChange 4s infinite;
  }
  
  @keyframes colorChange {
    0% {
      border-color: red;
    }
    25% {
      border-color: rgb(195, 48, 48);
    }
    50% {
      border-color: rgb(159, 67, 67);
    }
    75% {
      border-color: rgb(205, 151, 151);
    }
    100% {
      border-color: rgb(96, 3, 3);
    }
  }
  
  #searchMoviesByNameBtn{
    color: #dcd9d9;
    font-size: 400%;
  }

  .moviesPresentationClass {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-evenly;
    gap: 2rem;
  }
  
  .movie-card {
    color: rgb(201, 196, 196);
    width: 15%;  
    margin: 0 1%;
    box-shadow: 0 4px 20px rgba(255, 251, 251, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    opacity: 0;
    animation: fadeIn 0.1s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .movieTitle {
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination .page-item {
    list-style: none;
    margin: 0 5px;
  }
  
  .pagination .page-link {
    color: #000;
    text-decoration: none;
    border: 1px solid #393434;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #423c3c;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #770909;
    color: #fff;
    border: 1px solid #320505;
  }
  
  .pagination .page-link:hover {
    background-color: #7e7575;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #000000;
    background-color: rgb(41, 39, 39);
    border: 1px solid rgb(41, 39, 39);
  }
  
  .pagination .page-item.disabled .page-link:hover {
    background-color: transparent;
  }
  
  .movie-card div {
    text-align: center;
    display: flex;
    
  }
  
  .movie-card p {
    text-align: center;
    margin-bottom: 0;
  
  }
  
  .movie-card h1 {
    text-align: center;
    margin: 5px 0;
    font-size: 16px;
  }
  .movie-card .heart-icon {
    font-size: 20px;
    margin-left: 5px;
  }
  
  .movie-card .heart-icon:hover {
    cursor: pointer;
    color: #ff0000;
  }

