body{
  background-color: rgb(19, 19, 19);
 
}

#movieTitel {
  font-size: 200%;
  font-weight: 300;
  color: #b30b0b;
  text-shadow: 2px 1px 1px black;
  font-family: sans-serif;
  animation: blinkAndChangeColors 2s infinite;
}

@keyframes blinkAndChangeColors {
  0%, 100% {
      opacity: 1;
      transform: translateX(0) scale(1);
      color: #b30b0b; 
  }
  20% {
      color: #da4b4b;
  }
  40% {
      color: #621d1d;
      text-shadow: 2px 2px 1px rgb(255, 255, 255);
  }
  60% {
    color: #e76666; 
}
  80% {
      color: #a91616;
  }
}

.pageClass{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.searchInputAndBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 5rem;
}

#searchByIdInput {
  text-align: center;
  border: 2px solid #840303; 
  background-color: #851616;
  color: #ffffff;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 24px; 
  transition: border-color 1s ease-in-out;
  animation: colorChange 4s infinite;
}

@keyframes colorChange {
  0% {
    border-color: red;
    color: #ffffff;

  }
  25% {
    border-color: rgb(195, 48, 48);

  }
  50% {
    border-color: rgb(159, 67, 67);
    color: #ffffff;

  }
  75% {
    border-color: rgb(205, 151, 151);
    color: #ffffff;

  }
  100% {
    border-color: rgb(96, 3, 3);
  }
}

#searchIdButton {
  color: #dcd9d9;
  font-size: 400%;
}

.moviePresentation{
  color: #ffffff;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#b8b1b195
}

.movieImgAndMore{
  display: flex;

}

.posterImg{
  width: 65%;
  height: 20%;
  margin-left: 20%;
}

#movieTitle{
  font-size: 300%;
  font-weight: bolder;
}

.castTitel{
  text-align: center;
  font-size: 230%;
  font-weight: bolder;
  color: rgb(103, 7, 7);
}

.castCard{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center ;
  align-content: space-between;
}

.imgAndName{
  width: 40%;
  justify-content: space-around;
  row-gap: 20%;
  font-size: 150%;
}

.imgCast{
  width: 10%;
  height: 10%;
  border-radius: 50% 50% ;
}

@media (max-width: 768px) {
  .moviesPresentationClass {
    flex-direction: row;
  }

  .searchInputAndBtn{
    width: 50%;
    height: 2.5rem;
    margin-bottom: 3rem;
  }

  #searchIdButton {
    font-size: 250%;
  }

  #movieTitle{
    font-size: 200%;
  }

  .castTitel{
    font-size: 150%;

  }
  .imgAndName{
    font-size: 75%;
  }

  .imgCast{
    width: 12%;
    height: 12%;
    border-radius: 50% 50% ;
  }




}

@media (max-width: 576px) {
  .moviesPresentationClass {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px; 
  }


}
